/*主页基本框架*/
body{
    margin-left: 0%;
    margin-right: 0%;
    min-width: 1366px !important;
    min-height: 768px;
}
/*互动路况/地图/互动话题 */
.IRC,.TM,.IA{
    height: 600px;
    border: 1px solid #e3e3e3;
    background-color: rgb(252, 255, 250);
    position: relative;
}
/*标题栏*/
.title{
    padding: 5px;
    background-color: rgb(12, 63, 111);
    text-align: center;
    color: rgb(224, 223, 223);
    font-size: 23px;
}
/*互动路况*/
.selectedIRC{
    background-color: #ffffff;
    margin-top: 30px;
}
/*互动话题*/
.selectedIA{
    background-color: #ffffff;
    position: absolute;
    width: 410px;
}
/*互动话题的话题标题显示栏*/
.IATitle{
    background-color: rgb(35, 247, 255);
}
/*互动话题的话题标题显示栏内部样式*/
.IATitle h4{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    padding-top: 12px;
}
/*地图样式*/
#iCenter{
    width:100%;
    height:568px;
    margin-top: 30px;
}
/*刷新地图的表单*/
.TM form{
    position: absolute;
    right: 0%;
}
/*建立节目的节目栏*/
.appArea{
    height: 290px;
    border: 1px solid #e3e3e3;
    background-color: #eef5eb;
}
/*建立节目*/
.app{
    height: 320px;
    border: 1px solid #e3e3e3;
    background-color: rgb(252, 255, 250);
}
/*发布一个话题或者投票的按钮*/
#New [class="btn"] {
    margin-left: 5px;
}
/*填写表单和发布状态*/
.FillInForm,.ToComplete{
    height: 290px;
    border: 1px solid #e3e3e3;
    background-color: rgb(252, 255, 250);
    padding-left: 2px;
}
/*预览效果*/
.EffectPreview {
    padding: 0px 20px;
    height: 290px;
    border-bottom: 1px solid #e3e3e3;
    background-color: rgb(252, 255, 250);
}
/**/
.voteSituation,.topicSituation{
    text-align: center;
}
.voteSituation > h4 >strong{
    font: 2.5em normal;
    vertical-align: middle;
}
.topicSituation > h4 >strong{
    font: 2.5em normal;
    vertical-align: middle;
}
/*倒计时的时间*/
#voteClock,#topicClock{
    font-size: 1em;
    padding: 10px;
    vertical-align: text-bottom;
}
#topic,#vote{
    height: 204px;
    overflow-x: auto;
}
.showIRC{
    height:95%;
    overflow:auto;
}
.showIA{
    height:95%;
    overflow:auto;
}
.showIRC h5 {
    white-space: normal;
}
.showIA h5 {
    white-space: normal;
}
#home,#profile{
    height: 510px;
    overflow: auto;
}
#home h5 {
    white-space: normal;
}
h5 span {
    margin-right:3px ;
}
h5 a{
    margin-left: 5px;
}

#VoteHistory,#TopicHistory{
    height: 190px;
}
#VoteHistory li a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(76, 77, 85);
}
#TopicHistory li a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(76, 77, 85);
}
#Page{
    cursor: pointer;
}
.ToComplete {
    text-align: center;
}
.votePreview button{
    position: relative;
    left: 40%;
}
.topicPreview button{
    position: relative;
    left: 40%;
}
#votePostBtn,#topicPostBtn,#rtPreviewBtn,#rtPostBtn{
    position: relative;
    left: 40%;
}
.FillInForm ul li{
    margin-top: 2px;
    text-align: left;
}
/*话题内容的textarea*/
#topicContent{
    width: 340px;
    height: 150px;
}
/*关闭全部路况的按钮*/
#removeTrafficAll{
    position: absolute;
    right: 0%;
    top: 2px;
}
/*关闭全部留言的按钮*/
#removeReplyTopicAll{
    position: absolute;
    right: 0%;
    top: 2px;
}
/*关键字的输入框*/
#keywords{
    position: absolute;
    left: 0.3%;
}
.showIA li:nth-child(odd),#traffic li:nth-child(odd),#DJtraffic li:nth-child(odd){
    background-color: rgba(109, 175, 247, 0.49);
    color: #000000;
}
.showIA li:nth-child(even),#traffic li:nth-child(even),#DJtraffic li:nth-child(even){
    background-color: rgba(158, 221, 163, 0.49);
     color: #000000;
}
#VoteHistory li:nth-child(even){
    background-color: rgba(174, 189, 204, 0.41);
}
#TopicHistory li:nth-child(even){
    background-color: rgba(174, 189, 204, 0.41);
}
#topicNews,#voteNews{
    margin-left: 10px;
}
.alert{
    position: absolute;
    top: -14%;
    z-index: 101;
    left: 35%;
}
.being {
    background-color: #40F713;
}
.Packup{
    position: absolute;
    position: absolute;
    width: 10px;
    white-space: normal;
    cursor: pointer;
    right: -30px;
    bottom: 0px;
}